---
title: Blog
---

<section class="page-header">
      <h1 class="project-name">Latest Posts</h1>
</section>

<section class="main-content">
  {% for post in site.posts %}
    <article class="card">
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      <p>
            {% assign text = post.content | strip_html | newline_to_br | split: "<br />" %}
            {% assign betterExcerpt = ""  %}
            {% for excerpt in text offset:1 %}
                  {% assign betterExcerpt = betterExcerpt | append: excerpt %}
            {% endfor %}
            {{ betterExcerpt | truncatewords: 100 }}
      </p>
    </article>
  {% endfor %}
</section>
