<form action="mailto:gliu10000@gmail.com" method="get">

<div class="field">
  <label class="label">Subject</label>
  <div class="control">
    <input name="subject" class="input" type="text">
  </div>
</div>

<div class="field">
  <label class="label">Message</label>
  <div class="control">
    <textarea name="body" class="textarea"></textarea>
  </div>
</div>


<div class="field">
  <div class="control">
    <input type="submit" class="button is-primary" value="Submit">
  </div>
</div>
  
</form>
