<footer class="footer">
    <div class="container is-fluid">
        <div class="columns is-multiline is-mobile">
            <div class="column full-height is-full-mobile is-full-tablet is-one-fifth-desktop">
                <h2 class="title is-5">{{ site.title }}</h2>
                <p class="subtitle is-6">{{ site.tagline }}</p>
                <div class="full-height-flex-space"></div>
            </div>
            {% for link_group in site.data.footer-links %}
            <div class="column content is-full-mobile is-half-tablet is-one-fifth-desktop">
                <p class="title heading is-7">{{ link_group.name }}</p>
                {% for link in link_group.links %}
                <p><a href="{{ link.link }}">{{ link.name }}</a></p>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        <div class="level">
            <div class="level-left">
                <p>&copy; Copyright {{ 'now' | date: "%Y" }}. All rights reserved.</p>
            </div>
            <div class="level-right">
                {% include social-media.html variant="is-primary is-light" %}
            </div>
        </div>



    </div>
</footer>