<nav class="navbar is-transparent is-spaced" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ site.url }}">
            <h2 class="title is-4">{{ site.title }}</h2>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
        </div>
        <div class="navbar-end">
            {% assign dropdown_main = "navbar-item navbar-link-tab is-hoverable has-dropdown" %}

            {% for link_group in site.data.links %}
                {% if page.url contains link_group.link %}
                    {% assign dropdown_main_if_active = dropdown_main | append:" is-active-page" %}
                {% else %}
                    {% assign dropdown_main_if_active = dropdown_main %}
                {% endif %}
                {% if link_group.links == nil %}
                    {% if page.url == "/" %}
                        {% assign home_if_active = "is-active" %}
                    {% else %}
                        {% assign home_if_active = "" %}
                    {% endif %}
                    <a 
                        href="{{ link_group.link }}"
                        class="navbar-item is-tab is-radiusless {{ home_if_active }}">
                        {{ link_group.name }}
                    </a>
                {% else %}
                    <div class="{{ dropdown_main_if_active }}">
                        <a href="{{ link_group.link }}" class="navbar-link is-arrowless">
                            {{ link_group.name }}
                        </a>
                        <div class="navbar-dropdown is-right">
                            {% for link in link_group.links %}
                                {% if link.name == "---" %}
                                    <hr class="navbar-divider">
                                {% else %}
                                    <a href="{{ link.link }}" class="navbar-item">
                                        {{ link.name }}
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

        </div>
    </div>
</nav>