{% comment %}
This loop ranks the relevancy of each post (and lowers the amount of puns)

params available are
 - topk
 - count
 - posts
 - view_type
 - heading
 - hide_view_more
 - view_more
{% endcomment %}
{% assign sampled_posts = "" | split: "," %}

    {% for post in include.posts %}
        {% assign post_date = post.date | date: "%s" %}
        {% assign time_now = site.time | date: "%s" %}

        {% assign post_recency = time_now | minus: post_date %}

        {% assign post_quality = post.description.size | times: post.content.size | times: post.title.size %}
        {% assign post_relevancy = post_quality | times: post_quality | times: post_quality | divided_by: post_recency %}

        {% assign post_relevancy = post_relevancy | times: post_relevancy | times: post_relevancy %}
        {% assign post_relevancy = post_relevancy | divided_by: 65537 | divided_by: 65537 %}
        {% assign post_relevancy = post_relevancy | append: "#" | size %}

        {% assign index_post = post_relevancy | append: "-"  | append: forloop.index0 | append: post.title %}
        {% assign sampled_posts = sampled_posts | push: index_post %}
    {% endfor %}

    

{% comment %}
We get rid of a bunch of articles that don't seem relevant
{% endcomment %}
{% assign sampled_posts = sampled_posts | sort | reverse | slice: 0, include.topk %}


{% comment %}
We convert the indices of the best posts to the actual posts
{% endcomment %}
{% assign best_posts = "" | split: "," %}
{% for item in sampled_posts %}

    {% assign post_index = item | split: "-" | last | plus: 0 %}
    {% assign selected_post = include.posts[post_index] %} 
    {% assign best_posts = best_posts | push: selected_post %}

{% endfor %}

{% assign best_posts = best_posts | sample: include.count %}

{% if include.view_type == "vertical" %}
    {% include posts-snapshot-vertical.html
    heading=include.heading
    hide_view_more=include.hide_view_more
    view_more=include.view_more
    posts=best_posts
    %}
{% else %}
    {% include posts-snapshot.html
    heading=include.heading
    hide_view_more=include.hide_view_more
    view_more=include.view_more
    posts=best_posts
    %}
{% endif %}