{% assign defaultImage = include.src %}
{% assign prefix = include.src | split: "/" | slice: 0, 3 | join: "/" %}
{% assign suffix = include.src | split: "/" | slice: 3 | join: "/" | url_encode | replace: "+", "%20" %}
<figure class="image">
    <picture>
        <source media="(min-width:2400px)" srcset="{{ prefix | append: "/xl/" | append: suffix }}">
        <source media="(min-width:1200px)" srcset="{{ prefix | append: "/lg/" | append: suffix }}">
        <source media="(min-width:750px)" srcset="{{ prefix | append: "/md/" | append: suffix }}">
        <source media="(min-width:300px)" srcset="{{ prefix | append: "/sm/" | append: suffix }}">
        <source media="(min-width:0px)" srcset="{{ prefix | append: "/xs/" | append: suffix }}">
        <img loading="lazy" src="{{ defaultImage }}"
            alt="{{ include.alt | escape }}" title="{{ include.alt | escape }}">
    </picture>
    <figcaption>{{ include.caption }}</figcaption>
</figure>
