<header class="hero">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="block">
                <h1 class="title">{{ include.title }}</h1>
                <p class="subtitle">{{ include.subtitle }}</p>
                <p class="heading"><em>{{ include.content | strip_html | number_of_words }} words &bull; {{ include.content | number_of_words | divided_by: 300 | plus: 1 }} mins</em></p>
                {% include post-tags.html tags=include.tags %}
            </div>
            {% include social-share-links.html %}
        </div>
    </div>
</header>