{% assign encoded_page_url = site.url | append: page.url | url_encode %}
{% assign encoded_page_image = page.image | url_encode %}
{% assign encoded_page_title = page.title | url_encode %}
{% assign encoded_page_description = page.description | url_encode %}

<div class="field has-addons">
    {% for social in site.data.social-share-links %}
    {% assign social_link = social.link %}
    {% assign social_link = social_link | replace: 'encoded_page_url', encoded_page_url %}
    {% assign social_link = social_link | replace: 'encoded_page_image', encoded_page_image %}
    {% assign social_link = social_link | replace: 'encoded_page_title', encoded_page_title %}
    {% assign social_link = social_link | replace: 'encoded_page_description', encoded_page_description %}
    <p class="control">
        <a class="button is-dark" href="{{ social_link }}" title="{{ social.name }}">
            <span class="icon">
                <i class="{{ social.icon }} fa-lg"></i>
            </span>
        </a>
    </p>
    {% endfor %}
</div>