<section class="section">
    <div class="container">
        
        <div class="columns">
            <div class="column"></div>
            <div class="column is-8">
                <div class="content is-medium">
                    
        
                    {{ include.content }}

                    
                    <hr class="mb-2">
                    
                    <div class="block is-flex is-justify-content-space-between is-flex-wrap-wrap">
                        {% if page.previous %}
                        <a class="button has-text-primary is-text is-small" href="{{ page.previous.url }}"
                            title="{{ page.previous.title }}"
                            >&lt;&lt; {{ page.previous.title | truncate: 40 }}</a>
                        {% endif %}
                        {% if page.next %}
                        <a class="button has-text-primary is-text is-small" href="{{ page.next.url }}"
                            title="{{ page.next.title }}"
                        >{{ page.next.title | truncate: 40 }} &gt;&gt;</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="column"></div>
        </div>
    </div>
</section>