@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');




$black: hsl(211, 36%, 4%);
$black-bis: hsl(211, 36%, 7%);
$black-ter: hsl(211, 36%, 14%);
$grey-darker: hsl(211, 30%, 21%);
$grey-dark: hsl(211, 24%, 29%);
$grey: hsl(211, 18%, 48%);
$grey-light: hsl(211, 24%, 71%);
$grey-lighter: hsl(211, 30%, 86%);
$grey-lightest: hsl(211, 36%, 93%);
$white-ter: hsl(0, 0%, 96%);
$white-bis: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

$primary:#5f27cd;
$info: #0abde3;



// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$body-overflow-y:auto;

@import "../node_modules/bulma/bulma.sass"