//
// adapted from line 191 of navbar.sass
//


.navbar-link-tab {
    border-bottom-color: transparent;
    border-bottom-style: $navbar-tab-active-border-bottom-style;
    border-bottom-width: $navbar-tab-active-border-bottom-width;
    min-height: $navbar-height;
    padding-bottom: calc(0.5rem - #{$navbar-tab-active-border-bottom-width});

    //&:focus, &:hover {
    //    background-color: $navbar-tab-hover-background-color;
    //    border-bottom-color: $navbar-tab-hover-border-bottom-color;
    //}

    &.is-active-page {
        background-color: $navbar-tab-active-background-color;
        border-bottom-color: $navbar-tab-active-border-bottom-color;
        color: $navbar-tab-active-color;
    }
}
