.button[title="Facebook"] {
    background-color: #1877f2;
    color: #fff;
}

.button[title="Twitter"] {
    background-color: #1da1f2;
    color: #fff;
}


.button[title="Pinterest"] {
    background-color: #e60023;
    color: #fff;
}


.button[title="Linkedin"] {
    background-color: #2977c9;
    color: #fff;
}

.button[title="Reddit"] {
    background-color: #ff4500;
    color: #fff;
}


