---
title: Blog
---

{% if paginator.page == 1 %}

{% include posts-recommended.html 
    view_type="horizontal"
    posts=site.posts
    topk=9
    count=3
    heading="Recommended reads"
    hide_view_more=true
%}

{% endif %}

{% include posts-snapshot-vertical.html
heading="From the blog archives"
posts=paginator.posts
hide_view_more=true
%}

<hr class="mb-2">
<div class="is-flex is-justify-content-space-between is-flex-wrap-wrap">
    {% if paginator.previous_page %}
    <a class="button has-text-primary is-text is-small" href="{{ paginator.previous_page_path }}"
        title="Page {{ paginator.previous_page }}">&lt;&lt; Page {{ paginator.previous_page }}</a>
    {% else %}
        <div></div>
    {% endif %}
    <p>Page {{ paginator.page }} of {{ paginator.total_pages }}</p>
    {% if paginator.next_page %}
    <a class="button has-text-primary is-text is-small" href="{{ paginator.next_page_path }}" 
        title="Page {{ paginator.next_page }}">
        Page {{ paginator.next_page }} &gt;&gt;</a>
    {% else %}
        <div></div>    
    {% endif %}
</div>
<hr class="mt-2">