---
layout: default
---

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-one-third">
                <figure class="image is-4by3">
                    <img loading="lazy" src="/assets/images/construction.png" alt="Construction">
                </figure>
            </div>
            <div class="column is-flex is-flex-direction-column is-justify-content-center">
                <div class="block">
                    <h1 class="title">Page under construction</h1>
                    <p>
                        Check back later. A better experience is in the making. For your convenience, a preview of the page
                        may be provided below. Keep in mind it may contain errors, could be partly unusable, or might not exist at all.
                    </p>
                </div>
                <p class="heading">Last updated at {{ site.time | date: "%b %e, %Y at %l:%M %p %Z" }}</p>
            </div>
        </div>
    </div>
</section>

{{ content }}



<script>
    var metaRobots = document.createElement("meta")
    metaRobots.setAttribute('name', 'robots');
    metaRobots.setAttribute('content', 'noindex');
    document.head.appendChild(metaRobots);
</script>