---
layout: default
---

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-one-third">
                <figure class="image is-4by3">
                    <img loading="lazy" src="/assets/images/construction.png" alt="Construction">
                </figure>
            </div>
            <div class="column is-flex is-flex-direction-column is-justify-content-center">
                <h1 class="title">Page under construction</h1>
                <p>
                    Check back later. A better experience is in the making. For your convenience, a preview of the page
                    is provided. Keep in mind it may contain errors, or may be partly unusable.
                </p>
            </div>
        </div>
    </div>
</section>

{{ content }}