---
layout: compress-js
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://cdnjs.cloudflare.com">

    {% include stylesheets.html %}
    <link rel="stylesheet" href="/assets/css/index.css">

    {% include favicon.html %}
    {% include seo-info.html %}
    {% include analytics.html %}
</head>

<body class="full-height">
    {% include nav-bar.html %}

    {{ content }}

    <div class="full-height-flex-space"></div>

    {% include footer.html %}
    {% include nav-bar-js.html %}
    <script>
        // Feature detects Navigation Timing API support.
        if (window.performance) {
            // (rounds the result since the value must be an integer).
            var timeSincePageLoad = Math.round(performance.now());

            // Sends the timing event to Google Analytics.
            gtag('event', 'timing_complete', {
                'name': 'load',
                'value': timeSincePageLoad,
                'event_category': 'Parsed DOM'
            });
        }
    </script>
</body>

</html>