<!DOCTYPE html>
<html lang="en">
<head>
	
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1, width=device-width">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	
	<title>{{ page.title }} - George Liu</title>
	
	{% seo title=false %}
	
	<link rel="stylesheet" href="/assets/css/styles.css">
	<link defer rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	
</head>
<body>
	{% include nav.html %}
	{{ content }}
	<section class="page-footer">
		<h1>George Liu</h1>
		<p>A self-taught developer passionate about technology, machine learning, and STEAM. Creator of <a href="https://chrome.google.com/webstore/detail/midway/cgibedogghadelndgfacffoociffapii">Midway</a>, the Chrome extension that helps students and teachers navigate the school schedule.</p>
		<p>&copy; Copyright 2018 - 2019. All rights reserved.</p>
	</section>
</body>
</html>
