<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://cdnjs.cloudflare.com">

    <link rel="stylesheet" href="/assets/css/index.css">

    {% include favicon.html %}
    {% include seo-info.html %}
</head>

<body class="full-height">
    {% include nav-bar.html %}

    {{ content }}
    
    <div class="full-height-flex-space"></div>

    {% include footer.html %}
    {% include nav-bar-js.html %}
</body>

</html>