---
layout: default
---
{% assign subtitle = page.date | date_to_string %}

{% include share-heading.html 
    title=page.title
    subtitle=subtitle
    content=content
    tags=page.tags
%}

{% include feature-image.html %}

{% capture merged_content %}
    {{ content }}
    {% include text-content-paginator.html %}
    {% include post-comments.html %}
{% endcapture %}

{% include text-content.html 
    content=merged_content
    %}


{% assign three_related_posts = site.related_posts | slice: 1,10 | sample: 3 %}

{% include posts-snapshot.html
heading="Related posts"
posts=three_related_posts
hide_view_more=true
%}

{% include posts-recommended.html 
    view_type="vertical"
    posts=site.posts
    topk=10
    count=4
    heading="Must-reads"
    hide_view_more=true
%}


{% include post-comments-js.html %}
