---
layout: default
---

<section class="hero">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="block">
                <h1 class="title">{{ page.title }}</h1>
                <p class="subtitle">{{ page.date | date_to_string }}</p>
                <p><em>{{ content | number_of_words }} words &bull; {{ content | number_of_words | divided_by: 200 | plus: 1 }} mins</em></p>
                {% include post-tags.html tags=page.tags %}
            </div>
            {% include social-share-links.html %}
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column"></div>
            <div class="column is-8">
                <div class="content">
                    {{ content }}

                    
                    <hr class="mb-2">
                    
                    <div class="block is-flex is-justify-content-space-between">
                        {% if page.previous %}
                        <a class="button has-text-primary is-text is-small" href="{{ page.previous.url }}">&lt;&lt; {{ page.previous.title }}</a>
                        {% endif %}
                        {% if page.next %}
                        <a class="button has-text-primary is-text is-small" href="{{ page.next.url }}">{{ page.next.title }} &gt;&gt;</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="column"></div>
        </div>
    </div>
</section>

{% assign recent_three_posts = site.related_posts | slice: 1,10 | sample: 3 %}

{% include posts-snapshot.html
heading="Related posts"
posts=recent_three_posts
hide_view_more=true
%}