---
layout: default
---

<section class="hero">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="block">
                <h1 class="title">{{ page.title }}</h1>
                <p class="subtitle">{{ page.date | date_to_string }}</p>
                {% include post-tags.html tags=page.tags %}
            </div>
            {% include social-share-links.html %}
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column"></div>
            <div class="column is-8">
                <div class="content">
                    {{ content }}
                </div>
            </div>
            <div class="column"></div>
        </div>
    </div>
</section>