---
layout: default
---

<section class="page-header">
      <h1 class="project-name">{{ page.name }}</h1>
      <h2 class="project-tagline">{{ page.description }}</h2>
</section>
<section class="main-content">
      {{ content }}
</section>
<aside>
      --debug
      {{ site.posts | inspect }}
      {{ page | inspect }}
      debug--
      {% for post in site.posts | where: "category", page.short_name %}
      <article class="card">
            <h2 class="exempt">
             	{{ post.name }}
            </h2>
            {{ post.content | markdownify }}
        </article>
       {% endfor %}
</aside>
