---
layout: default
---
{% include share-heading.html 
    title=page.title
    subtitle=page.description
    content=content
    tags=page.tags
%}

{% include feature-image.html %}

{% capture merged_content %}
    {{ content }}
    {% include text-content-paginator.html %}
    {% include post-comments.html %}
{% endcapture %}

{% include text-content.html 
    content=merged_content
    %}

{% include post-comments-js.html %}

{% assign post_list = site.posts %}
{% assign project_post_list = "" | split: "" %}
{% for post in post_list %}
    {% if post.project === page.short_name %}
        {% assign project_post_list = project_post_list | concat: post %}
    {% endif %}
{% endfor %}

{% include posts-snapshot-vertical.html 
    posts=project_post_list
    heading="Latest updates"
    hide_view_more=true
%}
