---
layout: default
---
{% include share-heading.html 
    title=page.title
    subtitle=page.description
    content=content
    tags=page.tags
%}

{% include feature-image.html %}

{% capture merged_content %}
    {{ content }}
    {% include text-content-paginator.html %}
    {% include post-comments.html %}
{% endcapture %}

{% include text-content.html 
    content=merged_content
    %}

{% include post-comments-js.html %}

{% assign filtered_project_list = site.posts | where: "project", page.project %}
{% include posts-snapshot-vertical.html 
    posts=filtered_project_list
    heading="Latest updates"
    hide_view_more=true
%}
